@using System.Globalization
@using Microsoft.Azure.Search.Models
@model DocumentSearchResponse<Entities.Twitter.SearchIndex.FlattendTweet>

@{
    ViewBag.Title = "Search";
}
<div class="container">
    <div class="bs-docs-section">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="page-title">Geek Retreat 2015</h1>
            </div>
        </div>
        @if (@ViewBag.errorMessage != null)
            {
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-dismissible alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Error!</h4>
                        <p>@ViewBag.errorMessage.</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="container">
                    <div class="jumbotron col-lg-6">
                        <h1>Geek Search</h1>
                        <form action="/Home/Search" method="get" id="search-form">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" name="query" id="query" value="@ViewBag.searchString" autocomplete="off" class="form-control input-lg">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-lg" type="submit">Search</button>
                                        </span>
                                    </div>
                                    <!-- for filters-->
                                    <input type="hidden" name="filter" id="filter" value="@ViewBag.filter" />
                                    <input type="hidden" name="sort" id="sort" value="@ViewBag.sort" />
                                    <input type="hidden" name="retweetCountFrom" id="retweetCountFrom" value="@ViewBag.retweetCountFrom" />
                                    <input type="hidden" name="retweetCountTo" id="retweetCountTo" value="@ViewBag.retweetCountTo" />
                                    <input type="hidden" name="hashTags" id="hashTags" value="@ViewBag.hashTags" />
                                    <input type="hidden" name="username" id="username" value="@ViewBag.username" />
                                    <!-- for pagination -->
                                    <input type="hidden" name="top" id="top" value="@ViewBag.top" />
                                    <input type="hidden" name="skip" id="skip" value="@ViewBag.skip"/>
                                    <!-- for scoring -->
                                    <input type="hidden" name="scoringProfile" id="scoringProfile" value="@ViewBag.scoringProfile"/>
                                    <input type="hidden" name="scoringParameter" id="scoringParameter" value="@ViewBag.scoringParameter" />
                                </div>
                            </fieldset>
                        </form>
                        <a href="#" onclick="document.getElementById('query').value = null; document.getElementById('sort').value = null; document.getElementById('filter').value = null; document.getElementById('hashTags').value = null; document.getElementById('username').value = null; document.getElementById('retweetCountFrom').value = null; document.getElementById('retweetCountTo').value = null; document.forms[0].submit(); return false;" class="btn btn-default btn-lg btn-block">Clear All</a>
                    </div>
                    <div class="jumbotron col-lg-6">
                        <h1>Active filters</h1>
                        @if (!string.IsNullOrEmpty(ViewBag.hashTags))
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">#@ViewBag.hashTags</a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav ">
                                            <li class="active"><a href="#" onclick="document.getElementById('hashTags').value = null; document.forms[0].submit(); return false;">Remove HashTag</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.username))
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">&#64;@ViewBag.username</a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('username').value = null; document.forms[0].submit(); return false;">Remove Username</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (ViewBag.retweetCountFrom != null)
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">@ViewBag.retweetCountFrom - @(ViewBag.retweetCountTo != 0 ? ViewBag.retweetCountTo : "more") </a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('retweetCountFrom').value = null; document.getElementById('retweetCountTo').value = null; document.forms[0].submit(); return false;">Remove Retweet Count</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (ViewBag.filter == "oslo")
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">in Oslo </a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('filter').value = null; document.forms[0].submit(); return false;">Remove filter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (ViewBag.filter == "cope")
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">in Copenhagen </a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('filter').value = null; document.forms[0].submit(); return false;">Remove filter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (ViewBag.filter == "goth")
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">in Gothenburg </a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('filter').value = null; document.forms[0].submit(); return false;">Remove filter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                        @if (ViewBag.filter == "asga")
                        {
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">in Asgardstrand </a>
                                    </div>
                                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#" onclick="document.getElementById('filter').value = null; document.forms[0].submit(); return false;">Remove filter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                    </div>
                </div>
            </div>

            if (@Model?.Results != null && @Model.Results.Count > 0)
            {
                var pages = (int)(Model.Count / ViewBag.top);
                var currentPage = (int)((ViewBag.skip == 0 ? ViewBag.top : ViewBag.skip) / ViewBag.top);


                <div class="bs-docs-section">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="searchresults">Search Results (<a href="#" onclick="document.getElementById('skip').value = 0; document.getElementById('top').value = 10; document.forms[0].submit(); return false;">10</a> / <a href="#" onclick="document.getElementById('skip').value = 0; document.getElementById('top').value = 25; document.forms[0].submit(); return false;">25</a> / <a href="#" onclick="document.getElementById('skip').value = 0; document.getElementById('top').value = 50; document.forms[0].submit(); return false;">50</a> / <a href="#" onclick="document.getElementById('skip').value = 0; document.getElementById('top').value = 100; document.forms[0].submit(); return false;">100</a>)</h1>
                        </div>
                    </div>
                </div>
                <h3>Found <span class="badge large">@Model.Count</span> tweets. Showing tweets @ViewBag.skip to @Math.Min(Model.Count.Value, (ViewBag.skip + ViewBag.top))</h3>
                <div class="bs-docs-section">
                    <div class="col-lg-12">
                        <ul class="pagination pagination-lg">
                            <li><a href="#" onclick="document.getElementById('skip').value = 0; document.getElementById('top').value = @ViewBag.top; document.forms[0].submit(); return fase;">«</a></li>
                            @for (var page = currentPage; page <= pages; page++)
                            {
                                var top = ViewBag.top;
                                var skip = (page - 1) * top;
                                if (page > (currentPage + 11))
                                {
                                    <li><a href="#" onclick="document.getElementById('skip').value = @(pages*top); document.getElementById('top').value = @top; document.forms[0].submit(); return fase;">»</a></li>
                                    break;
                                }
                                <li><a href="#" onclick="document.getElementById('skip').value = @skip; document.getElementById('top').value = @top; document.forms[0].submit(); return fase;">@page</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="bs-component">
                                <h2 id="facets">
                                    Facets (<a href="#" onclick="document.getElementById('retweetCountFrom').value = null; document.getElementById('retweetCountTo').value = null; document.getElementById('hashTags').value = null; document.forms[0].submit(); return false;">Clear</a>)
                                </h2>
                                @foreach (var facetResult in @Model.Facets)
                                {
                                    var facetTitle = @facetResult.Key;
                                    var textInfo = new CultureInfo("en-US", false).TextInfo;
                                    facetTitle = textInfo.ToTitleCase(facetTitle);
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">@facetTitle</h3>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                @foreach (var facet in facetResult.Value)
                                                    {
                                                    <li class="list-group-item">
                                                        <span class="badge">@facet.Count</span>
                                                        @if (facet.Type == FacetType.Range)
                                                            {
                                                            <a href="#" onclick="document.getElementById('retweetCountFrom').value = @(facet.From ?? 0); document.getElementById('retweetCountTo').value = @(facet.To ?? 0); document.forms[0].submit(); return false;">@facet.Value (@(facet.From ?? 0) - @(facet.To ?? "more"))</a>
                                                            }
                                                            else
                                                            {
                                                            <a href="#" onclick="document.getElementById('hashTags').value = '@facet.Value'; document.forms[0].submit(); return false;">@facet.Value</a>
                                                            }
                                                    </li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                    }
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="bs-component">
                                <h2 id="tweets">Tweets</h2>
                                @{ var rank = ViewBag.skip; }
                                @foreach (var flattenedTweet in Model.Results.Select(r => r))
                                {
                                    rank++;
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><a href="#" onclick="document.getElementById('username').value = '@flattenedTweet.Document.Username'; document.getElementById('hashTags').value = null; document.forms[0].submit(); return false;">&#64;@flattenedTweet.Document.Username</a> tweeted at @flattenedTweet.Document.CreatedAt.Value.ToShortDateString(), @flattenedTweet.Document.CreatedAt.Value.ToShortTimeString()<span class="pull-right">#@rank (@string.Format("{0:0.00}", flattenedTweet.Score))</span></h3>
                                        </div>
                                       @Html.DisplayFor(tweet => flattenedTweet, "FlattenedTweet")
                                  </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="bs-component">
                                <h2 id="tweets">Filters</h2>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Scoring</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li id="score1" class="active"><a href="#" onclick="document.getElementById('scoringProfile').value = null; document.forms[0].submit(); return false;">none</a></li>
                                            <li id="score2"><a href="#" onclick="document.getElementById('scoringProfile').value = 'FreshGeeks'; document.getElementById('scoringParameter').value = null; document.forms[0].submit(); return false;">Fresh Geeks</a></li>
                                            <li id="score3"><a href="#" onclick="document.getElementById('scoringProfile').value = 'GeeklyNeighbours'; document.getElementById('scoringParameter').value = 'clientLocation:10.7150777,59.8939225'; document.forms[0].submit(); return false;">Geeks Near Oslo</a></li>
                                            <li id="score4"><a href="#" onclick="document.getElementById('scoringProfile').value = 'GeeklyNeighbours'; document.getElementById('scoringParameter').value = 'clientLocation:12.5258197,55.6713108'; document.forms[0].submit(); return false;">Geeks Near Copenhagen</a></li>
                                            <li id="score5"><a href="#" onclick="document.getElementById('scoringProfile').value = 'GeeklyNeighbours'; document.getElementById('scoringParameter').value = 'clientLocation:11.753603,57.702061'; document.forms[0].submit(); return false;">Geeks Near Gothenburg</a></li>
                                            <li id="score6"><a href="#" onclick="document.getElementById('scoringProfile').value = 'GeeklyNeighbours'; document.getElementById('scoringParameter').value = 'clientLocation:10.477919,59.3500386'; document.forms[0].submit(); return false;">Geeks Near Åsgårdstrand</a></li>
                                            <li id="score7"><a href="#" onclick="document.getElementById('scoringProfile').value = 'PopularGeeks'; document.getElementById('scoringParameter').value = null; document.forms[0].submit(); return false;">Popular Geeks</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Sorting</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="active"><a href="#" onclick="document.getElementById('sort').value = null; document.forms[0].submit(); return false;">by relevance</a></li>
                                            <li><a href="#" onclick="document.getElementById('sort').value = 'createdAt'; document.forms[0].submit(); return false;">by date</a></li>
                                            <li><a href="#" onclick="document.getElementById('sort').value = 'retweetCount'; document.forms[0].submit(); return false;">by retweet count</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Filtering</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a href="#" onclick="document.getElementById('filter').value = 'oslo'; document.forms[0].submit(); return false;">in Oslo</a></li>
                                            <li><a href="#" onclick="document.getElementById('filter').value = 'cope'; document.forms[0].submit(); return false;">in Copenhagen</a></li>
                                            <li><a href="#" onclick="document.getElementById('filter').value = 'goth'; document.forms[0].submit(); return false;">in Gothenborg</a></li>
                                            <li><a href="#" onclick="document.getElementById('filter').value = 'asga'; document.forms[0].submit(); return false;">in Asgardstrand</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>






@section Scripts {
    <script>
        $(function () {
            $("#query").autocomplete({ source: "/home/suggest" });
        });
        $('div ul li a').on('click', function () {
            $('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
            var activeId = $(this).parent('li').attr('id');
            localStorage.setItem('activeScoringProfileId', activeId);
        });
        $(document).ready(function() {
            $("img").unveil(1000);
            var activeScoringProfileId = localStorage.getItem('activeScoringProfileId');
            if (activeScoringProfileId) {
                var li = document.getElementById(activeScoringProfileId);
                $li.addClass('active');
            }
        });
        $("a img").mouseover(function () {
            $(this).css({ 'box-shadow': '5px 5px 5px #ccc', 'border': '1px solid #999' });
        }).mouseleave(function () {
            $(this).css({ 'box-shadow': '0 0 0 #ccc', 'border': '1px solid #fff' });
        });
    </script>
}